[2012-10-22 10:56] S0und opened #1 "Command line error"
Command line commands does not work for me. Command palette works fine.

When i select some stuff with ctrl+d, and using a simple command like \i, i got this error, plus nothing happends.

Traceback (most recent call last):
  File ".\text_pastry.py", line 238, in on_done
TypeError: parse() takes exactly 1 argument (2 given)

[2012-10-22 11:36] #1 closed, assigned to nobody

[2012-10-22 14:13] bseymore opened #2 "Insert Text Function Not Working"
Using Sublime Text 2 (Build 2220) on OS X 1.8 the insert text function does not work when using either direct input or the clipboard shortcut.

If I create five lines, each containing the word "null" and using either Command-D or Command-Click to highlight each instance (for a multiple selection) and entering any space-separated string (such as your "INPUT SELECT TEXTAREA DIV P A" example) leaves

[2012-10-22 14:20] bseymore opened #3 "Possible Documentation Error"
In the documentation, for the "Start at 1000, adding 100 for each selection" example the documentation states the proper command is "\i(1000,100)".

On my system — Sublime Text 2 (Build 2220) on OS X 10.8 — \i(1000,100) is not working. Instead, if I have four lines selected, I get the following.

1
2
3
4

A little trial-and-error revealed removing the parens gets the desired result. So,  /i1000,10

[2012-10-22 16:10] #2 closed, assigned to nobody

[2012-10-22 16:10] #3 closed, assigned to nobody

[2012-10-22 17:04] S0und opened #4 "lost window focus?"
When i'm using the "text list" feature, exp.:

var := " "
var := " "
var := " "
var := " "

and want to paste something between the double quotes like 'a b c d'. After i execute the command (which works fine now) i lost the window's focus. It's not on the sidebar, nor on the main window. I need to click on the editor to be able to type again.

[2012-10-22 18:03] #4 closed, assigned to nobody

[2012-11-20 15:12] aanton opened #5 "Define sublime commands"
It would be great to have got sublime commands so the command pallete can be used to trigger the actions.

Regards
Armando

[2012-11-20 23:09] #5 closed, assigned to nobody

[2013-04-18 23:21] rothos opened #6 "Number Sequence doesn't work when initial number is negative"
The command "\i(-3,2)", for instance, does not work properly for me.

Running Sublime Text 2 on MacBook Pro with OS X 10.7.

[2013-04-18 23:24] rothos opened #7 "Inserting text removes selections"
If I have four selections, type CMD+ALT+N and then "a b c d"+ENTER, the characters are properly inserted but I lose my selections — only the last remains.

If instead I have four selections, type CMD+ALT+N and then "\i"+ENTER, however, the numbers {1,2,3,4} are inserted and my four selections are preserved.

Running Sublime Text 2 on MacBook Pro with OS X 10.7.

[2013-05-22 12:29] #7 closed, assigned to duydao

[2013-09-26 00:06] #6 closed, assigned to duydao

[2014-01-09 17:00] neontapir opened #12 "Syntax to include space in clipboard text"
Sorry this is long-winded. I think Text Pastry should be able to handle my use case, but I'm having trouble. I'd like to take:

And get:

However, I get this instead:

I'm having trouble achieving the space character between the colon and the value. Notice also the leading space on lines 2 and 3.

I'm doing the following to get the actual output:

1) Cut this text into the clipboard:

2) Using CMD

[2014-01-20 23:30] #12 closed, assigned to duydao

[2014-02-18 21:24] JAStanton opened #13 "History"
Just a suggestion, it would be nice to have history by pressing up in the dialog box.

[2014-02-27 21:25] #13 closed, assigned to duydao

[2014-03-03 10:36] shooftie opened #14 "Stopped inputting text at v1.3.5"
All of a sudden the plugin stopped inserting the text...

No error logged in console...

Background to the input area lost it's dark background...

![image](https://f.cloud.github.com/assets/2161844/2308501/661fb348-a2bf-11e3-84d1-23e76e3bf898.png)

Reverted to 1.3.4 and it's working again...

Running ST2 on Windows 8...

[2014-03-03 10:53] #14 closed, assigned to nobody

[2014-05-02 21:45] amclain opened #16 "Sublime command palette inserts numbers one space before the cursor"
There seems to be a bug when using Sublime's command palette to insert numbers. When the command is executed, the numbers are inserted one character behind the cursor. This does not seem to be the case if the Text-Pastry command line is used directly.

Given the following segment of code as an example, the goal is to insert a number before the semicolon: `constant_1 = 101;`

[code]

So the first s

[2014-06-13 14:24] #16 closed, assigned to duydao

[2014-07-05 01:50] bseymore opened #17 "Text Pastry conflicts with PopClip"
Discovered a conflict between Text Pastry, the OS X utility app [PopClip](http://pilotmoon.com/popclip/), and Sublime Text 3. When Text Pastry is installed, _something_ keeps PopClip from appearing when text is selected with the mouse.

If you're not familiar with PopClip, it's allows you to do a number of great things with selected text. With Text Pastry disabled, using the mouse to highlight a s

[2014-07-06 21:42] #17 closed, assigned to duydao

[2014-08-02 22:15] rahiyer opened #19 "Number sequence does not work"
Inserting number sequence does not work giving the following error when checked in the sublime console:

[code]

I am using Sublime Text 3, Build 3059, with Text pastry installed using Package Control.

Other commands like `Paste` work fine.

[2014-08-03 00:31] #19 closed, assigned to nobody

[2014-08-19 19:37] passalini opened #20 "Feature to add text with sequence"
I can do it using multi select and the plugin, but it will be nice with we have a command to do it! Ex:

[code]

[2014-08-29 14:26] jhned opened #21 "Multi-word phrases for Text Command"
Trying to use Text Pastry with some kind of separator between text phrases, rather than just a whitespace character. For example, if I were to write:

Pepsi Coca Cola Dr. Pepper --> 5 selections

versus:

Pepsi, Coca Cola, Dr. Pepper --> 3 selections

If there's already a way to do this, then great! Just haven't found it by searching through the docs.

[2014-09-04 09:11] #21 closed, assigned to nobody

[2014-11-13 19:02] ctf0 opened #22 "New Tag."
can u plz make a new tag to reflect the latest version on PC ?

[2014-11-13 23:36] #22 closed, assigned to nobody

[2014-11-18 20:12] dufferzafar opened #23 "The insert_nums command doesn't seem to be working on ST3 Build 3065"
`\i0`, `\i1` commands stopped working for me while everything else was working as expected.

I couldn't figure out what exactly was causing the bug, but got things working for myself by changing the following lines (in `text_pastry.py`, Line 600):

[code]

with:

[code]

[2014-11-18 20:40] #23 closed, assigned to duydao

[2014-11-20 13:11] TheClams opened #24 "InsertNum negative step not working anymore"
Trying to insert a numeric sequence using both available syntax ( 'i(8,-1)' or '8 -1 0') failed with the error "No text found for Insert Text".
This was working at least last week.

[2014-11-22 22:15] #24 closed, assigned to duydao

[2014-11-25 12:07] michalwiglasz opened #25 "Keyboard shortcuts conflicts with czech keyboard"
I'm used to Czech keyboard which uses combinations with `AltGr` (right alt, equivalent to `Ctrl+Alt`) to write some special chars. For example `AltGr + B` (or `Ctrl + Alt + B`) means `{`.

TextPastry's default keymap conflicts with these, so I'm unable to write those special chars.

Can you please make these keyboard shortcuts optional?

[2014-11-25 12:21] #25 closed, assigned to nobody

[2014-12-14 20:02] #20 closed, assigned to duydao

[2015-01-20 14:20] Kcko commented on #16
Hi Bro,

sequence i or \i  (not work -- generate only  "i").
When i change this to \i(1) or i1  its works....

it worked in the past, can u tell me why? :]]

Scr: http://files.rjwebdesign.cz/i/20150120-151153---1487x1028---t---pn.png

S pozdravem

Roman Janko
webdesigner & developer

gsm: [+420] 777 856 657
email: admin@rjwebdesign.cz <mailto:admin@rjwebdesign.cz>
icq: 176-031-471
www: rjwebdesign

[2015-01-20 17:15] duydao opened #27 "command \i not working"
\i is not recognized as valid command, \i0 and \i1 work.

[2015-01-20 17:16] duydao commented on #16
Thanks for reporting this issue, I've created #27 for this bug

[2015-01-23 13:44] #27 closed

[2015-04-03 19:01] Nieralyte opened #28 "In multiple selections is it possible to order incremented numbers or pasted text by row first, and then by column?"
e.g. in multi-selections like this (`|` represents the text caret):

[code]

instead of having:

[code]

to be able to have:

[code]

or in case of copy-paste (with Ctrl+Alt+V), to be able to paste this:

[code]

like this:

[code]

instead of:

[code]

[2015-04-04 12:38] duydao commented on #28
This is not possible in the current version, but this sounds interesting.

I have to check how Sublime Text handles word wrapped lines (could lead to a problem in identefying rows). Please allow me a few days to check how easy it would be to implement this feature.

I'm also working on a feature called *bullet paste*, which would solve this problem in a different way. Basically, you load up your c

[2015-04-04 16:50] Nieralyte commented on #28
wow, *bullet paste* sounds really neat! in case of a number in a clipboard, i imagine, it could paste incremented numbers infinitely. "range 3 7" in a clipboard could paste 3-7 in an infinite loop by a single number. there are many possibilities.

P.S. here's a little demo i did using Text Pastry: http://i.imgur.com/AZ2LGR1.gif

[2015-04-12 18:00] duydao commented on #28
Thanks for the demo! We can also set a cursor into the cells by using this command:

[code]

I've just tagged 1.4.5, you can paste by row by using ```pr```or ```pbr```as command

Thanks for using text pastry!

[2015-04-12 18:00] #28 closed

[2015-04-13 01:07] Nieralyte commented on #28
this is just great! even multiple selection pastes work great on wrapped lines. just a little problem i've encountered, it breaks when selections start somwhere on the first line.

sex-piece pasting of

[code]

results in

[code]

if there are no lines prior to the block

see the demo of that: http://i.imgur.com/ZQigZ6x.gif

oh BTW it's nice to know, i wasn't aware of the `<td>(.*?)</td>` parens r

[2015-04-13 02:27] duydao commented on #28
Thanks for reporting this bug, it has been fixed in 1.4.6!

[2015-04-13 02:58] Nieralyte commented on #28
yep, it worked! thank you very much!

[2015-05-26 10:18] mkruselj opened #29 "Repeat incremented steps"
Hello!

It would be extremely great if Text-Pastry could be able to repeat increments as in this example:

N M P R
1 2 0 1

or:

i(1,2,1)

results in:

1
1
3
3
5
5
7
7
etc.

Basically, R would be number of additional repeats of a particular increment.

Thank you!

[2015-05-26 10:25] duydao commented on #29
Sounds interesting and should be easy enough to implement/test. Thanks for the suggestion!

[2015-05-26 10:26] mkruselj commented on #29
Wow, thank you for an extremely fast reply! :)

[2015-05-26 19:52] duydao commented on #29
Added as suggested. You can also pass a named argument like this:

[code]

[2015-05-26 19:52] #29 closed

[2015-05-26 19:53] mkruselj commented on #29
Thank you!! :)

[2015-05-26 20:10] duydao commented on #29
Thanks for using Text Pastry!

[2015-07-09 02:15] miusuncle opened #30 "find REGEX command is case insensitive?"
When I execute `find user`, `user` are all highlighted, no matter what case it is. Is there any flag to set the case sensitive?

[2015-07-09 07:05] miusuncle opened #31 "`uuid x10` get uuids all in uppercase"
`uuid` get uuid in lowercase, but `uuid x10` get uuids all in uppercase

[2015-07-09 07:38] duydao commented on #30
Yes, you can use the undocumented switch: --cs (case-sensitive)

[code]

or

[code]

[2015-07-09 07:38] #30 closed

[2015-07-09 07:52] #31 closed

[2015-07-09 07:54] duydao commented on #31
Thanks, its fixed in 1.4.9

Thanks for using Text Pastry!

[2015-07-09 08:05] miusuncle commented on #30
I've tries it, thanks, it works fine.

[2015-07-09 08:08] duydao commented on #31
I've added the switch to the documentation: https://github.com/duydao/Text-Pastry/wiki/Selection-Modifiers

[2015-07-09 08:09] duydao commented on #30
Glad to help, thanks for using Text Pastry!

[2015-07-30 20:05] MuR opened #32 "Working scope for `find` and `add` commands"
Is it possible to make `find` or `add` commands work only within selected lines of text?

Something like that:
![find_by_regexp](https://cloud.githubusercontent.com/assets/418780/8993668/f8185234-370e-11e5-81fb-319128edd8af.gif)

[2015-07-30 22:26] duydao commented on #32
The most common way to achieve this would be:

- Place the Cursor
- Expand selection to lines (CTRL+L or CMD+L)
- Use the Command ```filter 'id': '([^']+)'``` to filter the selected text

Please let me know if that will do it for you. Thanks for using Text Pastry!

[2015-07-31 02:48] miusuncle opened #33 "Found patterns not scroll into view"
When I use `find` command to find some stuff, the found result only shown in status bar. If I ignore the status bar or I hide the status bar, and the found pattern not shown in viewport, it just feels nothing happened. So we can improve the experience one step further -- scroll the first matched pattern into view.

[2015-07-31 10:11] MuR commented on #32
I've found that package [`selectUntil`](https://github.com/xavi-/sublime-selectuntil) is more suitable for this case.

[2015-07-31 10:11] #32 closed

[2015-07-31 10:41] duydao commented on #33
I agree! Text Pastry will scroll to the matched pattern *if nothing was found in the visible area* of the file. It will not scroll if there is a match that is already visible.

It would also be usefull if we could navigate through the selections by a shortcut, maybee page up/down when the Text Pastry command line is open. I'll give it a try.

Thanks again for using Text Pastry!

[2015-07-31 10:41] #33 closed

[2015-07-31 10:50] duydao commented on #32
Great, thanks for sharing!

[2015-08-18 15:22] mkruselj opened #34 "Iterating letters"
Would be great to have a way to generate letter sequences (A, B, C, D..., a, b, c, d,... perhaps even roman numerals? That might be overkill). When the end of the alphabet is reached, stick another char there (W, X, Y, Z, AA, AB, AC, etc.)

:)

[2015-08-18 15:34] duydao commented on #34
Hey!

This is already possible! We can use the [preset](https://github.com/duydao/Text-Pastry/wiki/Command-Line-Reference#presets) "letters" to fill selections, e.g.

```letters c-f```

The letters-preset contains only lower case letters, but you could define a list with upper case letters or use ConverCase to change them afterwards.

Thanks for using Text Pastry!

[2015-08-18 15:34] #34 closed

[2015-08-18 15:35] mkruselj commented on #34
Ah, this is cool! Thanks :)

[2015-10-12 05:29] xilin opened #35 "Can we support alphabet increment in the future?"
Say that I want to gen a list of alphabet: a, b, c, d ...

Can we add the feature in the future?

Thanks.

[2015-10-12 05:30] #35 closed

[2015-10-12 05:30] xilin commented on #35
I found out that #34 is what i need.

[2015-10-20 20:08] tablatronix opened #36 "zero padding ?"
I am trying to do zero padding.

say
[code]

`as 0000001 x 300` or similar using a token similar to sprintf `%06d` etc.

[2015-10-20 20:16] duydao commented on #36
zero padding is already supported by opening the text pastry command line and using a command like this:

```1 1 6```

You can check out the (command line reference)[https://github.com/duydao/Text-Pastry/wiki/Command-Line-Reference] in the wiki for even more commands

[2015-10-20 20:16] #36 closed

[2015-10-20 20:23] tablatronix commented on #36
wonderful, I didn't even see the wki.

[2015-11-08 16:02] mkruselj opened #38 "Repeating increments not working with letters"
I wanted Text-Pastry to do this:

A
A
A
B
B
B
C
C
C

I've tried to use "letters 1-3 each=3", but it didn't work. :(

It'd be great if repeating increments would work for not just letters, but anything else, simply by adding the "each" keyword. Of course, if I'm missing something here and this is already possible, I'd love to be corrected (but then also wiki should have examples of this, too :))

T

[2015-11-12 20:03] mkruselj opened #39 "Idea: loop a range within text selection"
This is similar to using "each" keyword, but a bit differently.

In this idea, let's say we want to generate the same range of values but repeated multiple times. We need to define start value, END VALUE (new!), optionally step size, optionally number of digits, and then repeat it throughout the text selection. Let's call this new keyword "loop"

For example this command:

0 10 2 2 each=2 loop

ex

[2015-12-10 17:21] andyperlitch opened #40 "i love you"
that is all. great plugin!

[2015-12-10 17:21] #40 closed

[2015-12-11 15:12] okitu commented on #38
+1

I just wanted to increment something with hex-values.
Please add custom ranges! numeric, alpha-numeric, hex, ...

[2015-12-11 16:00] duydao commented on #38
Hey, thanks for usong Text Pastry!

We can use the x-arg to repeat a loop, but not all commands support it yet.

As for custom ranges: we can use custom lists or a word list for this (let me check the Wiki). Do you have a specific example for this use-case?

[2015-12-11 16:01] duydao commented on #40
Thanks alot  mate, you've made my day! And thanks for using Text Pastry!

[2015-12-11 16:54] andyperlitch commented on #40
I'm just kicking myself for not finding it sooner. For all the times I did this...
![before-pastry](https://cloud.githubusercontent.com/assets/1390651/11749822/caa8ec8e-9fe4-11e5-9a26-1a12a1c735b8.gif)

[2015-12-11 17:22] duydao commented on #39
Hey, thanks for using Text Pastry!

Yes, this sounds quite usefull. In fact, I've added an x-arg parameter for loops that ahould do exactly that, but its not implemented for all commands yet.

Bare wirh me, I'll add it to the next version!

[2016-01-28 16:21] JoshRiser opened #41 "Same UUID on multiple selections?"
Currently when I us Sublimes Multiline Selection and run the uuid/UUID command with Text Pastry, it generates different UUIDs for each selection. I understand the reasoning behind this, but is there any way I can make it generate the same UUID on each selection?

[2016-01-28 16:28] duydao commented on #41
Hey mate

Unfortunately, there is no switch to reuse the same uuid multiple times. Wouldn't it be easier to copy the uuid and use sublimes multi-paste?

Thanks for using Text Pastry!

[2016-01-28 16:54] JoshRiser commented on #41
I can, but I will have to generate one, copy it, and multipaste it almost 200 times for what I am trying to accomplish. It will be tedious but it looks like that is the solution in this case.

Cheers, great plugin otherwise!

[2016-02-09 10:51] duydao commented on #41
Thanks for using Text Pastry!

[2016-02-09 10:51] #41 closed

[2016-03-11 16:10] s10wen opened #44 "How to increment across multiple files"
What I'd like do is

FROM:
[code]

TO:
[code]

I got it working with one file thanks to @wesbos (also thanks for pointing me here) :+1:

Would be great if there was a way to do across multiple files, thanks ^_^

[2016-03-11 18:04] duydao commented on #44
Hey,

First, thanks for using Text Pastry!

This sounds interesting. Give me some time to check if multi-window-pastes are easy to implement. I' have another feature prepared to handle scenarios like this, so stay tuned.

Again, thanks for using Text Pastry!

[2016-03-14 16:48] SaintDako opened #45 "sequence of random numbers"
There have been a few times where I've wanted to create a sequence of random numbers, but I'm unsure how to do this with TextPastry. Is this possible?

[2016-03-14 20:58] duydao commented on #45
Hey mate

Random Everything seems to be what you're looking for: https://packagecontrol.io/packages/Random%20Everything

Thanks for using Text Pastry!

[2016-03-14 20:58] #45 closed

[2016-03-17 13:11] s10wen commented on #44
@duydao any luck with this please? Anything I can do to help test?

[2016-03-22 16:32] duydao commented on #44
Thanks for getting back to me.

I've had a run with a version that replaced over multiple documents over this weekend, but it doesn't seem to be practical.

The order of the window seems to matter and there were multiple inserts in documents that we won't want. We would have to make sure that the only "pasteable" documents are open and that seems a bit unconvenient.

Do you have a specific use-cas

[2016-03-22 16:55] s10wen commented on #44
@duydao I'm working on a large legacy code base that has multiple templates. Sometimes it can be time consuming to find the correct template to work on. If I can inspect an element, then do a find and replace adding an incremental value, I could then refresh the page and find which template it was related to.

I can always look at alternative ways of doing this via the command line, but it would h

[2016-03-22 18:02] duydao commented on #44
As I mentioned, I have another feature that should do exactly what you're looking for. I'm calling it "paste gun", and if you don't mind to play a beta tester, I can upload the current version to this repo

[2016-03-22 18:03] s10wen commented on #44
@duydao cool, yeah, please let me know how to test and I'll give it a go :)

[2016-03-22 18:25] duydao commented on #44
are you working on linux, win or mac?

[2016-03-22 18:26] s10wen commented on #44
Mac

[2016-03-22 18:51] duydao commented on #44
I've just pushed the feature to the develop branch.

- Please disable your Text Pastry Plugin (package control -> disable package)
- Open the packages folder ```Sublime Text > Preferences > Browse Packages```
- Clone the develop branch into that folder ```git clone -b develop git@github.com:s10wen/Text-Pastry.git```
- Restart Text Pastry

You will get a new menu item called ```Paste Gun```
- Open

[2016-03-22 19:52] s10wen commented on #44
Cloned the branch, where can I see the menu item `Paste Gun`?

[2016-03-22 19:53] duydao commented on #44
it should be in Sublime Text, between project and window. Are you using Sublime Text 2 or 3?

[2016-03-22 19:54] s10wen commented on #44
3

<img width="131" alt="screen shot 2016-03-22 at 19 54 41" src="https://cloud.githubusercontent.com/assets/1136114/13965862/f36d82a0-f067-11e5-9e5a-caf882890285.png">

[2016-03-22 19:58] duydao commented on #44
Please verify the following steps:

- you have disabled/removed the Text Pastry package
- the directory of the cloned project is .../Sublime Text 3/Packages/Text-Pastry
- you are on the branch develop
- you have restarted Sublime Text

[2016-03-22 20:08] s10wen commented on #44
yep, `git clone -b develop git@github.com:s10wen/Text-Pastry.git` didn't work though, so I did a `git clone https://github.com/duydao/Text-Pastry.git` then followed this http://stackoverflow.com/questions/10312521/how-to-fetch-all-git-branches to get your branch and switch to it.

[2016-03-22 20:14] duydao commented on #44
ok, thanks for verifying!

Did you make the switch to the develop branch by calling "git checkout develop"? You can verify that you are on the right branch by checking for a file called ```text_pastry_clipboard.py```

[2016-03-22 20:24] s10wen commented on #44
Appears that I'm on the right branch, but I don't have that file.

[2016-03-22 20:24] s10wen commented on #44
Something :fish: going on:
[code]

[2016-03-22 20:27] duydao commented on #44
Hmm, could you remove the whole folder and check it out again with:

```git clone -b develop git@github.com:duydao/Text-Pastry.git```

[2016-03-22 20:33] s10wen commented on #44
ok, got the correct branch now and can see `Paste Gun` and `Show Ammo`. Did <kbd>Cmd</kbd>+<kbd>Alt</kbd>+<kbd>T</kbd> to get the command line open and put in `1 x50` in there. But I'm not sure what you mean by start pasting?

[2016-03-22 20:41] duydao commented on #44
Great!
Ok, this is how it works:
- Paste gun will use every line in the "Clipboard Ammo" window as "Clipboard Data"
- Create a new file and press ```Ctrl+V``` and the first line will be pasted (```1```)
- Create a new file and press ```Ctrl+V`` and the second line will be pasted (```2```)

[2016-03-22 21:40] s10wen commented on #44
Bit confused sorry, I'd like to search and replace on existing files, not create new ones.

[2016-04-19 14:46] LydiaF opened #46 "Number sequence "each""
Hi there,

Firstly thanks for text pastry, use it many times every day!

Secondly, I would like to be able to generate a number sequence like:
1 1 2 2 3 3 4 4
Sorry if this is already possible and I haven't seen it. So in text pastry this might be \i(each = 2)

Thanks :)

[2016-04-20 21:57] duydao commented on #46
Hey!

Thank you very much for your suggestion! A similar feature was already requested in #39. It will be in release 1.5.0 if everything works out.

Thanks for using Text Pastry!

[2016-04-20 21:57] #46 closed

[2016-04-24 19:04] duydao commented on #46
Hey @LydiaF,

I just realized that this is already possible in the current version of Text Pastry:

i 1 each=2

Thanks again for using Text Pastry!

[2016-05-03 12:46] #39 closed

[2016-05-03 12:49] duydao commented on #39
As suggested, I've added a new argument to set the end of a repeatable list:

```0 2 2 end=10 each=2```

We don't need to use a loop keyword, since lists are automatically expanded to match the selection.

[2016-05-03 16:54] mkruselj commented on #39
When is 1.5.0 officially out? :)

Thanks for doing this!

[2016-05-03 17:07] duydao commented on #39
Hey!

I should be able to release it this week. Still working on #38, works for regular lists but not yet for presets.

Thanks for using Text Pastry!

[2016-05-04 22:14] duydao commented on #38
Repeating words is supported in 1.5.0. This can be done by the x-arg (e.g. x2) or each=2:

```letters 1-3 each=3```

will produce the same result as:

```words a b c x3```

[2016-05-04 22:14] #38 closed

[2016-05-05 12:42] #44 closed

[2016-05-05 16:10] duydao commented on #44
Hey @s10wen

Sorry, multiple selection weren't supported in that version. It is now :-)

1.5.0 will be released this week, just some documentation and more testing to do.

Thanks for using Text Pastry!

[2016-05-13 08:13] amok opened #47 "Insert nums does not work with "float" step"
F.i  `1 0.3`, where step - 0.3. That case nothing happens on enter

[2016-05-13 08:35] duydao commented on #47
Hi

We are using the python range command to generate the numbers, and atm only integers are supported, sorry.

Check out https://github.com/jbrooksuk/InsertNums, That should do what you're looking for

Thanks for using Text Pastry!

[2016-05-13 08:40] amok commented on #47
I'm already using InsertNums but planned to move to Text-Pastry
thank you for the answer!

[2016-05-13 09:01] duydao commented on #47
Ah, nice to hear that you're considering Text Pastry! I'll let you know when it's available

[2016-05-13 09:17] amok commented on #47
awesome! thanks

[2016-05-18 08:05] Kcko opened #48 "TextPastryHistory is not defined / ST3 /"
Hi,
I cant use shortcut alt +b (insert character "{") because TextPastry is screaming:

"TextPastryHistory is not defined"

I obviously override shortcut in sublime-keymap but TextPastry remember native shortcut defined in plugin.

Can you help me?

Screenshots:
![](http://files.rjwebdesign.cz/i/20160518-100143.png)
![](http://files.rjwebdesign.cz/i/20160518-100201.png)

[2016-05-18 16:10] duydao commented on #48
Hi

You should be able to overwrite the key binding through your user keybindings file.

The error is worries me, I'll check it out.

Thanks for using Text Pastry!

[2016-05-18 16:20] Kcko commented on #48
Hi DuyDao,

it should be ..., but it does not work with :), it seems to be like a bug ...
with others plugins i have no problem with overriding key-mapping.

Can you help me how to do it? I want to use ur great plugin, but need more use ctrl alt b :)

[2016-05-25 17:29] Kcko commented on #48
So what? Or how to remove "pastry history action"? Overriding not working :(

[2016-05-28 13:39] LydiaF commented on #46
Thank you!

[2016-06-02 19:07] Kcko commented on #48
Any progress pls?

[2016-06-05 19:19] duydao commented on #48
Hi @Kcko

Yeah, I've tried to rebind alt+b and ctrl+alt+b to the swirly brace and it works without problems. To verify that it **is** a problem with Text Pastry, you could disable the plugin and try again.

[2016-06-05 19:31] duydao commented on #48
You could also use AutoHotKey to do key bindings:  https://autohotkey.com/

[2016-06-07 20:07] #48 closed

[2016-07-19 20:50] sgarg7 opened #49 "Don't see Text Pastry in ST3 package list"
I do "Install package" from the command palette but I don't see Text Pastry in the list.

[2016-07-20 20:55] duydao commented on #49
Hi

This usually means that the package is already installed. You can check this by using the "Package Control: List packages" command.

Thanks for using Text Pastry!

[2016-07-20 20:55] #49 closed

[2016-07-22 19:25] sgarg7 commented on #49
oh! Sorry about that and thanks for the reply. :)

[2016-08-12 10:03] HamzaLitayem opened #51 "Some presets don't work"
Hi,
I'm using Text-Pastry 1.4.10 with ST2, I'm trying to use presets,

I write` letters a-c`, the result is

, like it does not recognize the preset

same for `greek Alpha-Beta`

When I write `months`, I get

I tried simple selection and multi selection, the result is the same.

[2016-08-12 10:06] duydao commented on #51
Hey mate,

thanks for using Text Pastry!

Interesting bug. I couldn't reproduce it right away, could you check the console (View -> Show Console) and check the Text Pastry settings file content?

[2016-08-12 10:56] HamzaLitayem commented on #51
Hi,
this is what the console shows when I use `letters a-c` :

and this is User\TextPastry.sublime-settings

I opened TextPastryCommands.json and I could not find anything like "letters" or "greed", I don't know, but maybe it helps you the resolve the bug.

[2016-08-12 21:34] duydao commented on #51
I've checked the plugin in ST2 and I found the bug. It seems to relate to the shlex that is used for splitting the command if it's a preset.

See line [Line 1275](https://github.com/duydao/Text-Pastry/blob/a195137b0a40c23bc5729fddca9092facab5da31/text_pastry.py#L1275)

You can change the line to this in your Sublime Text 2/Packages/Text Pastry/text_pastry.py to make it work:

``for arg in s.split(

[2016-08-12 21:34] #51 closed

[2016-10-29 12:04] princemaple opened #52 "1.5 release?"
Hi,

Just wondering, why was 1.5 "released" in May but never *really released*?

[2016-10-29 17:17] duydao commented on #52
Hey, I wanted to do some additional testing and documenting, that was some of the reasons.

I've been using 1.5.0 for a while now, I've just tagged it. It will be available in a couple of hours.

Thanks for reminding me, and thanks alot for using Text Pastry!

[2016-10-29 17:17] #52 closed

[2016-10-29 22:18] princemaple commented on #52
Thanks for the awesome package!

On Sun., 30 Oct. 2016, 04:17 Duy Dao, <notifications@github.com> wrote:

[2016-11-01 08:45] eromoe opened #53 "\i(N,M) not work on sublime 3 in windows 8"
Hi, this plugin is really awesome.
Because the default shortcut `ctrl + alt + n` is conflict with Evernote's create new note shortcut, I'd like to use `ctrl + alt +t`. But I find it cannot excute pattern like `1 1 3`  except already type it once  in  `ctrl + alt + n` as history command. Then I tried `\i(1,2)` which not works, though `\i`  and `\i0` does.

[2016-11-02 19:20] duydao commented on #53
Hi

You can remap the keys to anything you want. You can find the default key map as an example here:

https://github.com/duydao/Text-Pastry/blob/master/Default%20(Linux).sublime-keymap

for more information on key bindings, you could check out:

http://docs.sublimetext.info/en/latest/customization/key_bindings.html

Another way to open Text Pastry is to use the _Command Palette_ (Ctrl+Shift+P).

[2016-11-02 19:20] #53 closed

[2016-11-04 02:42] eromoe commented on #53
I think I found the problem:
![qq 20161104102857](https://cloud.githubusercontent.com/assets/3938751/19992521/9b5652b2-a279-11e6-90f9-945d15466c61.png)

I was tring to type `\i(1,2)` on that input box which popuped by  `ctrl + alt + t` , it wouldn't work in this way.
It need Enter menu  ` \i(,N,M)`  first, then replace `N, M` in `Text Pastry Command:` input box：
![qq 20161104103301](https://cloud.

[2016-11-04 18:58] duydao commented on #53
Thanks for the clarification.

The Text Pastry Menu is only a filter for the items displayed in the list (thats how sublime text menus work). What you're looking for ist the text pastry command line. You can navigate through the history with arrow up/down to repeat commands.

There is a syntax for padding, its the third argument (e.g. \i(1,1,2) or 1 1 2). In this context, 2 means  the number of di

[2016-12-13 23:57] mkruselj opened #54 "Pad with spaces instead zeroes"
It would be great to have some sort a way to pad with spaces instead of zeroes! Simple example (padding 2):

[code]

Not sure what to suggest for a command, though!

[2017-01-06 15:22] stegrams opened #55 "Group restart sequence"
I m not sure how - or if - it is possible (an enhancement perhaps).
Here is a sample of an XML file.
[code]
I d like enumeration to restart somehow on each persons group of items like this
[code]

[2017-01-07 21:15] duydao commented on #55
Hi @stegrams

This is already possible:

- Select all item words with CMD / CTRL + D from the first group
- move the cursor to the end of the item word
- use the following command in the _Text Pastry_ command line: `1 each=2`

_Text Pastry_ will repeat item of the sequence starting at 1. Repeat the steps for the next block.

Let me know if this helps and thanks a lot for using Text Pastry!

[2017-01-07 21:35] stegrams commented on #55
```each=``` is a nice feature! I didnt noticed!

About my question.
Is not very practical to select each block manually. You see I don't talk about 2 blocks - as my example falsy suggest  - but hundreds or even thousands.

I thought it may be a way to set a "restart numbering when the next selection has a distance of more than N lines from the previous one" with a customized N.

[2017-01-07 21:41] duydao commented on #55
Actually, I'm working for a while on context sensitive sequences. Pretty sure that we could achieve it by using the shell functionality of _Text Pastry_.

I'll make some tests and will get back to you!

[2017-02-10 09:07] stevepowell99 commented on #25
I have exactly the same conflict with altgr-b. I followed your advice - I already had that folder and file, tried deleting the entries and redefining them as unbound, etc, but nothing worked. Tried this too: http://stackoverflow.com/questions/19245837/how-to-unbind-a-key-binding-in-sublime-text-2. Uninstalled textpastry, what a shame, because very useful.

[2017-05-18 13:07] timLinscott opened #56 "add/reduce/filter by regex does not use regex"
The "Add selection by regex...", "Reduce selection by regex...", and "Filter selection by regex..." commands don't actually use regex searches, just plaintext searches.

[2017-05-18 14:52] duydao commented on #56
Thanks for using Text Pastry!

Could you provide an example, I will look into it asap

[2017-05-18 14:57] timLinscott commented on #56
I tried using "Reduce selection by regex" on `(this, is, a, list)` using the search term `\(|\)|, ` and nothing changed. Is there a parameter that toggles regex that I'm missing?

[2017-05-21 09:29] duydao commented on #56
I've just created a fix for this issue, it should be available in a few hours by package control. Thanks for using Text Pastry!

[2017-05-21 09:29] #56 closed

[2017-06-29 14:21] gonchar opened #58 "Math with your selection?"
Hello!

Is it possible to do math and use functions like sin/cos/ceil/floor and etc and apply it to my selection?

Thank you!

[2017-06-29 16:18] duydao commented on #58
Hey @gonchar

I think this is possible with the shell functionality. Can you give me more infos to your setup (win/mac or linux, sublime 2/3, node/python/bash available?)

Thanks for using Text Pastry!

[2017-06-29 18:14] gonchar commented on #58
Mac OSX, Sublime 3

[2017-06-30 18:18] duydao commented on #58
I've just found https://github.com/jbrooksuk/Sublime-Evaluate, it should do what you're looking for!

Thanks for using Text Pastry!

[2017-06-30 18:18] #58 closed

[2017-07-17 19:39] jayfunk opened #59 "Missing On Package Manager"
I am unable to install the package from the package manager. I am seeing this on the package manager website.

![screen shot 2017-07-17 at 2 38 07 pm](https://user-images.githubusercontent.com/2545666/28286421-b71f06ae-6afd-11e7-9c3a-14dee182d587.png)

[2017-07-21 07:47] duydao commented on #59
Hi @jayfunk

I think this was a temporary github/packagecontrol problem since it looks good atm :-)

Thanks for using Text Pastry!

[2017-07-21 07:47] #59 closed

[2017-11-08 18:49] charleskawczynski opened #61 "Feature request! - From X to 1 (and From X to 0)"
I absolutely love this package, and I use it all the time.

Is it possible to include a From X to 1 (the reverse order of From 1 to X) and From X to 0 feature? I think that I might use this from time to time too, and I suspect others may as well.

Thank you

Charlie

[2017-11-09 18:09] s7726 opened #62 "Feature From X to Y"
Using the number in the first selection as the x and then numbering from there.

[code]
becomes
[code]

[2017-11-24 08:29] jankuehn opened #63 "increment selected numbers"
Hi,

first of all great tool! I'm just missing one feature or I'm not sure if it's already there.
With this selection:
1|
2|
2|
3|
I'd lile to have this result:
2|
3|
3|
4|

Meaning: I wnat to add 1 (or any number) to each selected number. Is that at all possible or in any way planned as a new feature?

Best regards,
Jan

[2017-12-11 12:00] duydao commented on #63
HI @jankuehn

Yes, there is a way to do this my using the node / python configuration (which is a bit inconvenient tbh).

I'll add an operator for doing this.

Thanks for using Text Pastry!

[2017-12-28 14:38] SmartManoj opened #64 "New lines On the fly"
Eg: 1 x5
Expected Behaviour:
    1|
    2|
    3|
    4|
    5|
Actual Behaviour :
    1|

[2018-01-28 03:36] mrwiseowl commented on #44
Hey @duydao did Paste gun ever go public? I'd love to give it a shot, I tried cloning from the developer branch above but got a permission denied.

[2018-02-15 22:38] himura-hg opened #65 "add selection max limit"
It seems there is a maximum limit of the iterations the `add TEXT` command does.

Some times it selects 70 lines that contain that text, others, 80 or maximum 146

I tried to use this in a log file with 144098 lines, what is the maximum lines limit for selecting specific text ?

[2018-02-23 20:20] scholtes commented on #64
`1 x5` does not declare a bounded list from 1 to 5.  It declares an incrementing generator (e.g., `1, 2, 3, 4, ...`), except that each element is consecutively repeated 5 times.  E.g., `1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3 ...`.

Text-Pastry iterates through generators by inserting each next element into each cursor position.  If you only have the cursor placed at one position, you will only get

[2018-02-24 02:58] SmartManoj commented on #64
https://github.com/duydao/Text-Pastry/blob/master/RELEASENOTES.md#repeat-argument-x-arg

[2018-03-19 13:40] slhck opened #66 ""global name 'TextPastryHistory' is not defined""
I'm using Text Pastry with Sublime Build 3143 on macOS 10.12.

When I hit `super-alt-b`, I get this error in the Console:

[code]

(I would actually like to override this keyboard shortcut but when trying so I discovered this error.)

[2018-03-20 14:36] infn8 opened #67 "Loop through clipboard sequence?"
So firstly, this thing is awesome. I use it all the time but i'm having trouble figuring out the following issue.  let's say i have multiple uniques strings in the clipboards and I want to paste them in a looping fashion.  like this:

    <li class="hey"></li>
    <li class="there"></li>
    <li class="you"></li>
    <li class="hey"></li>
    <li class="there"></li>
    <li class="you"></li>
    <

[2018-03-20 15:36] curtisyallop opened #68 ""1 x5" no longer generates 5 lines"
"1 x5" (on a blank line with no selection) results in "1". The "x5" part does not work.

"1 end=1 x5" does work, oddly. "1 1 1 x5" does not. "range 1 5" and "range 1 1 x5" work.

RELEASENOTES.md says "1 x 5" will generated 5 lines under section "Repeat argument (x-arg)".

I am using version 1.5.1.

[2018-05-20 06:41] Un1Gfn commented on #61
This feature is quite useful with coding in Verilog. like this
[code]
Without this feature, one has to insert 0..3 and then "Menu->Edit->PermuteLines->Reverse"

[2018-05-20 06:54] Un1Gfn commented on #61
There is a workaround. In the previous example, put cursors to the right of all 'A's and **command palette(Ctrl+Shift+P) -> Text Pastry: Range (numeric)**, then fill the "Text Pastry Command" input box with "range 3 -999". Done.

Unfortunately it works only if you know the number of cursors (3) already.

[2018-06-04 02:26] SmartManoj opened #69 "How to escape number in AutoStep(as) command"
Eg: as 1,2 x3
Actual Behaviour :
1,2
2,3
3,4
How to achieve this ?
1,2
2,2
3,2

Is there something like \2 to escape the number?

[2018-06-04 06:00] duydao commented on #69
Hi there, I don’t think I understand your example. Could you explain the use case? Would it be possible for you to just select the number that you would like to change?

Thanks for using Text Pastry!

[2018-06-04 08:58] SmartManoj commented on #69
@duydao  Edited Now

[2018-06-05 05:38] SmartManoj commented on #64
s 1 x5

[2018-06-05 05:38] #64 closed

[2018-06-05 05:39] SmartManoj commented on #68
s 1 x5 #64

[2018-06-05 05:49] SmartManoj commented on #67
Loop through clipboard sequence is the default behaviour.

[2018-06-05 06:11] SmartManoj commented on #63
You can use emmet package. Ctrl up to increment

[2018-06-05 06:13] SmartManoj commented on #62
`s func(4) x3`

[2018-06-05 06:15] SmartManoj commented on #61
s input A3 -1 x4

[2018-06-05 11:04] SmartManoj commented on #55
[Workaround](http://smartmanoj.blogspot.com/2018/06/how-to-create-sublimetext-plugin.html)

[2018-06-05 15:46] infn8 commented on #67
![2018-06-05 11_44_55](https://user-images.githubusercontent.com/2447686/40987214-07f73874-68b6-11e8-9003-dfae49c4ce45.gif)

Then maybe I need to add a new issue:

Loop through clipboard sequence not working.

[2018-06-05 16:19] Un1Gfn commented on #61
@SmartManoj ?

[2018-06-05 20:05] stegrams commented on #55
Thank you @SmartManoj for sharing your solution.
I ve tested your workaround and works like a charm!

Although for me, the habit of creating from time to time, case specific plugins is a bit overwhelming.

Anyway, I really appreciate for your time :+1:

[2018-06-06 01:00] SmartManoj commented on #61
@Un1Gfn The above command produces
input A3
input A2
input A1
input A0

[2018-06-06 02:04] SmartManoj commented on #67
"repeat_clipboard": true in Settings

[2018-06-06 03:13] #69 closed

[2018-06-13 16:24] carlos-rosas opened #77 "Unable to change shorcut for "text_pastry_show_command_line", ST 3.1.1 Build 3176"
I've trying to disable default keys for this command by overwriting on Default (Windows).sublime-keymap:
`{ "keys": ["ctrl+k", "ctrl+p"], "command": "text_pastry_show_command_line", "args": { "text": "" } },`

Those changes works, but when I type:
`["ctrl+alt+n"],` or `["alt+n"],`

Always shows "Text Pastry Command".

I use a US-International keyboard layout, and frecuently use `["alt+n"],` just t

[2018-07-04 15:34] niftinessafoot commented on #68
This works, but what is `s`? I’m not finding it documented anywhere.

[2018-07-04 15:36] SmartManoj commented on #68
alias for `as `

[2018-07-24 06:41] jakemkc opened #78 "piping bag does not work"
Hi,

I tried to follow the instruction to use the piping feature to incrementally modify content of multiple text files as follow:

text pastry will only replace the 1st selection with the first number in the piping bag.

I wonder am I missing something here?

I am using MacOS 10.13.3
sublime 3.1.1

thanks!

[2018-10-26 12:12] caverus commented on #77
I use this as a workaround:

`{ "keys": ["ctrl+alt+n"], "command": "insert", "args": {"characters": "ń"}  },
	{ "keys": ["ctrl+shift+y"], "command": "text_pastry_show_command_line", "args": { "text": "" }}`

[2018-12-07 09:09] mkruselj opened #79 "Add a command for ordinal numbers"
Would be nice/useful sometimes?

`ord 3 6`

results in:

[code]

Could also have a number+suffix version, perhaps:

`ordnum 2 4`

with this result:

[code]

[2019-01-15 04:48] JetStarBlues opened #80 "Descending/countdown number range - no START"
I wish to create a key binding that generates a descending number range that ends with zero ( END = 0, STEP = -1). For example:
[code]
However, reading the [Wiki page](https://github.com/duydao/Text-Pastry/wiki/Number-Range), it seems that the START parameter is required.  This however makes setting a key binding for this scenario impossible and also requires the user to count the number of lines

[2019-03-18 09:10] sagunkho opened #81 "Hexadecimal Incrementation"
Is there a feature to increment selection in hexadecimals, like there is for integers?

Example:
\hex(0x9)
[code]

Awesome plugin btw.

[2019-06-11 20:49] jitccgcg opened #82 "Find, replace, increment"
If I have:

let myModel = Model(CreatedOn: "2018-06-04T14:11:44Z", id: "1")

and I want to create 100 of these, but increment the value of id for occurrence of `id: "1"`, how can I do this?

[2019-06-16 14:10] #47 closed

[2019-06-16 14:14] #54 closed

[2019-06-16 14:42] duydao commented on #61
I've added From X to 1 and From X to 0. X is based on the number of selections

[2019-06-16 14:42] #61 closed

[2019-06-16 14:47] duydao commented on #80
Hi @JetStarBlues, this option will be supported in 1.6.0!

[2019-06-16 14:47] #80 closed

[2019-06-16 14:47] duydao commented on #80
Duplicate #61

[2019-06-16 15:04] duydao commented on #79
Hi @mkruselj, this is already possible by creating a new preset list called `TextPastryPresets.json` in your user packages directory. You can find the folder by Browsing Packages -> User and place the file there.

This is the [default config](https://github.com/duydao/Text-Pastry/blob/master/config/TextPastryPresets.json) as example.

Text pastry will add the list name as command. Using this examp

[2019-06-16 15:04] #79 closed

[2019-06-16 15:21] duydao commented on #66
Thanks for reporting this & thanks for using Text Pastry!

[2019-06-16 15:21] #66 closed

[2019-06-16 15:25] duydao commented on #65
@himura-hg There is no code limitation, but certainly there is a limitation regarding memory. I will check the implementation. How big is your file?

[2019-06-16 15:28] duydao commented on #77
@carlos-rosas Unfortunately, adding the keymap in your user keymap file does not overwrite the key binding, it adds another one. In order to remote the key binding of text pastry, you would have to edit the file that comes with the Text Pastry package. Please reopen this issue if the workaround from @caverus fails.

Thanks for using Text Pastry!

[2019-06-16 15:28] #77 closed

[2019-06-16 15:53] duydao commented on #68
We had to change this syntax in order to make it parsable form the command line. Please use s 1 x5 as suggested. For a reference, please take a look at this:

https://github.com/duydao/Text-Pastry/blob/master/config/TextPastryCommands.json#L118

[2019-06-16 15:53] #68 closed

[2019-06-16 15:56] duydao commented on #81
Hi @sagunkho, thanks for using Text Pastry!

Could you explain the use-case for this? I could imagine this feature to be helpfull in order to support a color palette, but that would be a fixed set of hex colors. I'm not sure, how this would help our daily work.

[2019-06-16 15:57] #55 closed

[2019-06-16 16:01] #62 closed

[2019-06-16 16:02] #63 closed

[2019-06-16 16:04] duydao commented on #82
Hi @jitccgcg,

I would copy the line 100 times, multiselect the 1 (select all, cmd+shift+l to select each line and then navigate to the 1 by using the left arrow), and then use text pastry to insert the numbers from 1 to X.

Thanks for using Text Pastry!

[2019-06-16 16:04] #82 closed

[2019-06-16 16:08] duydao commented on #78
Hi @jakemkc,

This seems to be a bug, I'll check it out.

Thanks for using Text Pastry!

[2019-06-16 16:15] sagunkho commented on #81
Hi,

This was because in C and C++ sometimes we use hex numbers in succession.
Doing it with integers would only allow from 0-9 and then manually adding
a-f.

On Sun, 16 Jun 2019 at 11:56 AM, Duy Dao <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-06-16 18:44] mkruselj commented on #79
Thanks!

[2019-06-16 19:22] duydao commented on #81
I've added new commands for hexadecimal numbers:

`hex <start> <end> [step] [width]`

for example:
`hex 0xff 0x00 2 4`

generates:
`0x00ff
0x00fd
0x00fb
0x00f9
0x00f7
0x00f5
0x00f3
0x00f1
0x00ef
0x00ed
`
step can be a hexadecimal value as well, e.g. 0x16

[2019-06-16 19:22] #81 closed

[2019-06-16 19:50] sagunkho commented on #81
Awesome

Sent from my iPhone

[2019-06-16 22:28] duydao opened #83 "Add support for Input Handlers"
Add Text Pastry Support for input handlers https://www.sublimetext.com/docs/3/api_reference.html#sublime_plugin.TextInputHandler

[2019-06-17 17:27] himura-hg commented on #65
Hello @duydao thanks for following up,
I have seen this issue with files ranging from 6K to 40K lines, I mostly used the Text-Pastry to add and highlight several similar lines that are repetitive in log files and to remove them or do operations with them.

This does not occurs for example if at the same file I use Sublime's built in find and use regular expression to attempt to replicate similar b

[2019-06-20 15:21] #78 closed

[2019-06-20 16:57] duydao commented on #65
Hi @himura-hg, there is indeed a [configurable file size limitation](https://github.com/duydao/Text-Pastry/blob/master/TextPastrySelection.sublime-settings#L12) for that feature. You can change it by creating TextPastrySelection.sublime-settings in your user directory (Browse Packages -> User) and setting the threshold value. The value represents megabytes:

[code]

Thanks for using text pastry!

[2019-06-20 16:57] #65 closed

[2019-08-12 18:56] spajak opened #84 "Key bindings break entering diacritics"
Key binding:
[code]
Breaks entering Polish letter `ń` (`alt_gr + n`) - in Windows.
`ctrl + alt` is same as right `alt_gr` on Windows, which is used to enter diacritics. Other bindings with `ctrl + alt + letter` may break other characters in other languages.

[2020-05-07 01:30] craigerskine opened #85 "Step Sequence"
Is there a way to step the numeric increment to a certain point and then start over again? I need to select hundreds of lines and I want them to count from 100-900 in increments of 100, but when it reaches 900 the next items should start back over again at 100. Any help would be greatly appreciated.

100
200
300
400
500
600
700
800
900
100
200
300
400
500
600
700
800
900
...

[2020-06-01 20:29] duydao commented on #85
@craigerskine You could use the range command, it repeats after reaching the max value:

range 100 900 100

https://github.com/duydao/Text-Pastry/wiki/Number-Range

[2020-06-01 20:29] #85 closed

[2020-12-11 23:58] gregsadetsky opened #88 "Appreciation for Text Pastry"
Hey, sorry to pollute the issues, but I just wanted express gratitude & thanks for Text Pastry!

Every time I do a multi line select in Sublime and paste 0 to X integers... it feels like magic! Ha. Thanks so much

All the best!

[2020-12-16 08:48] duydao commented on #88
Hi @gregsadetsky,

Thank you very much, I really appreciate it!

Thanks for using Text Pastry & happy hollidays

[2020-12-16 08:48] #88 closed

[2021-05-17 21:10] stdedos opened #89 "Issues working with Improved paste (paste the first three lines of the clipboard data to the three selected locations)"
As per README.md:

and, I guess it's the same as:

I think it used to be working, but now I cannot get it to work.

The intention is to copy this:

[code]

to go from this:
[code]

to this:
[code]

However, none of the commands:

- TextPastry: Paste
- TextPastry: Paste Lines
- `regex $`
- "repeat_clipboard": true,
- "clipboard_strip_newline": false,

can get me to the desired result cleanly.

Afte

[2021-05-23 12:18] duydao commented on #89
Hi!

thanks for using Text Pastry!

Paste as block should take every line of the clipboard and treats it as a queue. If we copy a block like this
[code]

and paste it into this selection
[code]

we would get this:
[code]

instead of this:
[code]

may I ask you for a different example of your use-case?

[2021-05-23 14:39] stdedos commented on #89
Perhaps I haven't been clear enough, apologies. I am not _that_ familiar with the finer details of the plugin.

I want to use TextPastry's feature that will help me treat the copied text "as one entity", instead of splitting it as newlines.

i.e. If I copy 2 lines and have 2 carets, I expect to paste 2 lines on both carets, instead of one each.

[2021-05-23 15:12] duydao commented on #89
Thanks for taking your time to clarify this issue.

This should already be a default feature of sublime text!

Expanding on your example, if we copy this line into the clipboard:

[code]

we can paste it normally and it will be inserted on every location with a caret, as this clip shows:

![paste](https://user-images.githubusercontent.com/1011201/119266103-bdbd3580-bbe9-11eb-988d-3cf6b531b33d.gif)

[2021-05-23 15:17] stdedos commented on #89
Thank you for your quick response. Please note that my example is not this:

but it's that:

(i.e. one extra `\n`)

[2021-05-23 15:32] duydao commented on #89
Thank you for clarifying the issue!

The content shouldn't matter, as long as we paste using the default paste (ctrl+v or cmd+v), the text will be pasted into the selected location by sublime text, as shown in this clip:

![paste2](https://user-images.githubusercontent.com/1011201/119266810-82703600-bbec-11eb-9244-eac80cc6ce11.gif)

Please let me know if we're on the right track on this issue!

[2021-05-23 15:33] stdedos commented on #89
Again, you are making a different selection 😂

[2021-05-23 16:28] duydao commented on #89
Ah, your example does does not select the new line character at the end.

This is a "feature"/bug in sublime text and it only happens, when the selection count matches the pasted content split by newline. If I would've select three instances of the `</param>` endtag, instead of two, it would behave oddly aswell. Even when I've disable/uninstall Text Pastry, we would still have this behaviour (plea

[2021-05-23 16:33] #89 closed

[2021-05-27 03:40] SuSuSoo opened #90 "How to run a multiplication calculation ?"
I need to generate a number similar to the following, how should I write the command ?

[code]

[2021-05-27 12:18] duydao commented on #90
Hi,

this isn't possible at the moment.

My suggestion would be to generate the list in your favourite language and generate the list

For example https://www.programiz.com/python-programming/online-compiler/
[code]
results in this:

[code]

Thanks for using Text Pastry!

[2021-05-27 12:18] #90 closed

[2021-06-22 21:14] stdedos opened #91 "Overload `range N` as `N`"
From the wiki https://github.com/duydao/Text-Pastry/wiki/Command-Line-Reference:

Command|Arguments|Example|Result
--- | --- | --- | ---
**N** _M_ _P_|**N**: Start number (**required**)<br/>_M_: Increment by this number (_optional_, default: *1*))<br/>_P_: Number of left-padding zeroes (_optional_, default: **0**)|1 1 0|1\|<br />2\|<br />3\|
range **START** **END** |**START**: the start number<br/

[2021-06-29 19:24] duydao commented on #91
This sounds reasonable :)

[2021-10-27 11:45] floq-design opened #93 "Key-bind conflict"
I discovered today that a custom key binding of mine to toggle the sidebar is in conflict with a Text Pastry command.
`{ "keys": ["ctrl+s"], "command": "toggle_side_bar" },`
Sublime's console logs the command as `text_pastry_cancel`...
[code]
When I goto the default Text Pastry keymap - there is no command by that name listed.

I've tried adding:
`{ "keys": ["super+alt+ctrl+c"], "command": "text_p

[2021-11-02 01:17] mcaskill commented on #93
I'm having the same issue with Sublime Text 4121.

[code]

[code]

[2022-02-05 19:33] Vanderhoof commented on #93
Here's the [line](https://github.com/duydao/Text-Pastry/blob/master/text_pastry_addons.py#L49) where this happens. I have no idea why this is needed, but since the author ignores the issue, here's a quick dirty fix:

1. Press CTRL+SHIFT+P and find command `PackageResourceViewer: Extract package`. Press enter.
2. Select TextPastry and press enter, then enter again on "start extraction"
3. In top me